*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins, sans-serif';
}

/*Main navigation Bar starts here*/
#naviLinkContainer{
    margin: 0px 0px 0px 0px;
    padding: 20px 30px 0px 30px;
    height: 100px;
    background-color: rgb(42, 42, 42);
    border-bottom: solid;
}

*a{
    color: white;
    text-decoration: none;
}

.leftNavi{
    font-size: 50px;
    height: 60px;
    line-height: 60px;
    color: white;
    margin : 0px 30px 0px 0px;
    float: left;
}

.leftNavi a{
    text-decoration: none;
}

.naviLink{
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    color: white;
    margin : 0px 30px 0px 0px;
    padding: 0px 10px 0px 10px;
    float: right;
    border-radius: 20px;
}

.naviLink:hover{
    font-size: 30px;
    text-decoration: underline;
    transition: 0.5s;
}
/*Main navigation Bar ends here*/

/*Cointent starts here*/
#content{
    background: url(img/mount-fuji-1352353_1920.jpg);
    background-repeat: no-repeat;
    background-color: rgb(65, 65, 80);
    color: white;
    padding-top: 10px;
}


#sec-content p{
    font-size: 18px;
}

#sec-intro{
    background-color: rgba(13, 13, 13, 0.4);
    color: white;
    font-size: 20px;
    height: 320px;
    padding: 0px 10px 20px 10px;
    margin: 0px 200px 10px 200px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px black;
}

#sec-intro p{
    margin: 0px 10px 0px 10px;
}

#intro-img{
    border-radius: 10px;
    float: left;
    margin: 10px 10px 10px 10px;
}

#intro-line{
    text-align: center;
}
/*Main content ends here*/

/*Footer starts here*/
#footer{
    text-align: center;
    background-color: Black;
    color: white;
    height: 300px;
}

#copyright{
    line-height: 50px;
    font-size: 20px;
}

#f-list-container{
    border-top: solid 1px;
    background-color: grey;
    height: 250px;
}

.f-list{
    color: white;
    width: 200px;
    height: 200px;
    margin: 20px 0px 20px 80px;
    float: left;
}

#f-logo{
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

#f-sitemap{
    width: 700px;
    border-left: solid;
    border-right: solid;
}

.contact-icon{
    color: white;
    text-decoration: none;
    float: left;
    margin-left: 20px;
}

.icon-fb:hover{
    color: blue;
}

.contact-icon:hover{
    transition: .5s;
    color: red;
    font-size: 20px;
}

.contact-icon.fb:hover{
    color: rgb(18, 103, 251);
}

.contact-icon.insta:hover{
    color: rgb(150, 47, 191);
}

#contact-id-container{
    margin: 10px 10px 10px 10px;
}

.sitemap-links{
    font-size: 15px;
    float: left;
    margin-left: 50px;
    padding: 0px 10px 0px 10px;
    color: white;
}

.sitemap-links a{
    text-decoration: none;
    color: white;
}

#f-list-title{
    font-size: 20px;
    text-decoration: underline;
}

#sitemap-link-container{
    text-align: left;
    height: 100px;
    margin-top: 10px;
}

#f-contact{
    color: white;
    width: 330px;
    height: 200px;
    font-size: 20px;
    float: right;
    margin: 20px 50px 0px 0px;
}

#mail-contact{
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-left: 10px;
    font-size: 18px;
}

#mail-contact:hover a{
    color: white;
    font-size: 25px;
    transition: .3s;
}

#contact-language{
    margin-top: 20px;
    font-size: 15px;

}
/*Footer ends here*/

/*Carousel starts here*/
.bannerImgHover:hover{
    opacity: 0.8;
}

#bannerLink{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 400px;
    height: 400px;
}

#bannerLink:hover{
    font-size: 50px;
    transition: .3s;
}
/*Carousel ends here*/

/*Content Starts here*/
#roadMap{
    padding: 30px 50px 20px 50px;
    background-image: url("img/mount-fuji-1352353_1920.jpg");
    border-bottom: solid 1px white;
}

#roadMap h1{
    text-align: center;
}

.roadMap-card{
    background-color: rgba(13, 13, 13, 0.4);
    border: solid;
    margin: 30px 200px 50px 200px;
    padding: 10px;
}

#roadMap-card-btn{
    text-align: center;
}

#more1{
    display: none;
}

#more2{
    display: none;
}

#more3{
    display: none;
}

#info-card-container{
    text-align: center;
    padding: 20px 30px 0px 30px;
    height: 600px;
    background-color: rgb(109, 104, 128);
}

.info-cards{
    justify-content: center;
    height: 500px;
    background-color: rgb(67, 63, 79);
    float: left;
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    margin-left: 90px;
    box-shadow: 3px 3px 5px black;
}

.info-cards p{
    margin: 10px 5px 0px 5px;
    text-align: left;
    text-indent: 30px;
}

.info-cards img{
    border-radius: 30px;
    margin: 0px 0px 10px 0px;
}

.read-more-btn{
    padding: 3px;
    width: 200px;
    height: 30px;
    border-radius: 8px;
}

.read-more-btn:hover{
    background-color: white;
    box-shadow: 3px 3px black;
    border-width: 3px;
}
/*Content ends here*/